/* Importing Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;700&display=swap");

/* Base Styling */
* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-clr: #fff;
  --secondary-clr: #001e6c;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
/* ------------------------------------------------- */

/* Header */
header {
  margin-top: 40px;
  font-weight: 700;
  color: var(--secondary-clr);
}

header h1 {
  border-top: 2px solid var(--secondary-clr);
  border-bottom: 2px solid var(--secondary-clr);

  padding: 25px 0px;
}
/* ------------------------------------------------- */

/* Main */
main {
  font-weight: 600;
  color: var(--secondary-clr);
}

main form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

.field {
  padding: 10px;
  height: 30px;
  width: 300px;
  border: 1px solid blue;
}

select {
  height: 30px;
  width: 150px;
}

.btn {
  background: var(--secondary-clr);
  color: var(--primary-clr);
  border: 2px solid;
  border-radius: 20px;
  width: 100px;
  font-weight: 700;
}
.btn:hover {
  background: var(--primary-clr);
  color: var(--secondary-clr);
}
.btn:active {
  color: var(--primary-clr);
  background: var(--secondary-clr);
}

.form--sub {
  display: flex;
  justify-content: space-between;
}

#reset-btn {
  padding: 5px 18px;
  text-transform: uppercase;
  margin-top: 12px;
}
/* ------------------------------------------------- */

/* Footer */
footer {
  background-color: #827397;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer p {
  padding: 12px 0px;
  font-weight: 400;
}
/* ------------------------------------------------- */
